:root {
    --primary-brand-color:#4D5AE5;
    --dark-brand-color:#2E2F42;
    --primary-text-color:#434455;
    --accent-color:#E7E9FC;
    --light-color:#F4F4FD;
    --white-color:#FFFFFF;
}
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-style: normal;
    background-color:var(--white-color);
    color:var(--primary-text-color);
}
.header-logo {
    font-family: 'Raleway', 'Marriweather', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-brand-color);
    text-decoration: none;
}
.logo-accent {
    color: var(--primary-brand-color);
}
.nav-list,
.address-list,
.benefits-list,
.team-list,
.features-list,
.buttons-list,
.portfolio-list {
    list-style-type: none;
}
.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-brand-color);
}
.nav-link,
.address-link,
.portfolio-link {
    text-decoration: none;
    color:var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.adress-link:focus,
.portfolio-link:hover,
.portfolio-link:focus {
    color:#404BBF;

}
.address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.hero {
    background-color: var(--dark-brand-color);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
}
.hero-button {
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background-color:#404BBF
}
.benefits-item {
    letter-spacing: 0.02em;
}
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color:var(--dark-brand-color);
}
.benefits-text {
    font-size: 16px;
    line-height: 1.5;
}
.team {
    background-color: var(--light-color);
}
.features-title,
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-brand-color);
}
.team-item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    letter-spacing: 0.02em;
}
.team-name {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-brand-color);
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
}
.footer {
    background-color: var(--dark-brand-color);
    color: var(--light-color);
}
.footer-logo {
    font-family: 'Raleway', 'Marriweather', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light-color);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-button {
    background-color:var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white-color);
}
.portfolio-item {
    letter-spacing: 0.02em;
    border: 1px solid var(--accent-color);
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-brand-color);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
}